﻿@model Latihan.Models.Pegawai

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Pegawai</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.Emel, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Emel)
                @Html.ValidationMessageFor(model => model.Emel)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Katalaluan, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Katalaluan)
                @Html.ValidationMessageFor(model => model.Katalaluan)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Nama, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Nama)
                @Html.ValidationMessageFor(model => model.Nama)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AktifKan, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AktifKan)
                @Html.ValidationMessageFor(model => model.AktifKan)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Wujud, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Wujud)
                @Html.ValidationMessageFor(model => model.Wujud)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Ubah, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Ubah)
                @Html.ValidationMessageFor(model => model.Ubah)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Id, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Id)
                @Html.ValidationMessageFor(model => model.Id)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Ic, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Ic)
                @Html.ValidationMessageFor(model => model.Ic)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TarikhJawatan, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TarikhJawatan)
                @Html.ValidationMessageFor(model => model.TarikhJawatan)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
