﻿@model Latihan.Models.Latihan

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Latihan</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.Nama, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Nama)
                @Html.ValidationMessageFor(model => model.Nama)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Anjuran, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Anjuran)
                @Html.ValidationMessageFor(model => model.Anjuran)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TarikhMula, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TarikhMula)
                @Html.ValidationMessageFor(model => model.TarikhMula)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TarikhAkhir, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TarikhAkhir)
                @Html.ValidationMessageFor(model => model.TarikhAkhir)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.BilHari, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.BilHari)
                @Html.ValidationMessageFor(model => model.BilHari)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
