﻿@model IEnumerable<Latihan.Models.Latihan>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nama)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Anjuran)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TarikhMula)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TarikhAkhir)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BilHari)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nama)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Anjuran)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TarikhMula)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TarikhAkhir)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BilHari)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
