﻿@model Latihan.Models.Pengguna

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Pengguna</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.Emel, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Emel)
                @Html.ValidationMessageFor(model => model.Emel)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Katalaluan, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Katalaluan)
                @Html.ValidationMessageFor(model => model.Katalaluan)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Nama, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Nama)
                @Html.ValidationMessageFor(model => model.Nama)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AktifKan, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AktifKan)
                @Html.ValidationMessageFor(model => model.AktifKan)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AdminKan, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AdminKan)
                @Html.ValidationMessageFor(model => model.AdminKan)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Wujud, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Wujud)
                @Html.ValidationMessageFor(model => model.Wujud)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Ubah, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Ubah)
                @Html.ValidationMessageFor(model => model.Ubah)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
