﻿@model IEnumerable<Latihan.Models.Pengguna>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Emel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Katalaluan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nama)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AktifKan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AdminKan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Wujud)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ubah)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Emel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Katalaluan)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nama)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AktifKan)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AdminKan)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Wujud)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ubah)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { onclick = "return confirm('Are you sure you want to delete?')" })
        </td>
    </tr>
}

</table>
@section script {
    <script>
        $('.delete').click(function () {
            return confirm('Are you sure you want to delete?');
        })
    </script>
}