﻿@model Latihan.Models.Pengguna

@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>
@("abc123".ToMD5())

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Pengguna</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.Emel, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Emel, new { @class="form-control" })
                @Html.ValidationMessageFor(model => model.Emel)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Katalaluan, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.PasswordFor(model => model.Katalaluan, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Katalaluan)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Login" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
